!!!
%head
  - title ||= 'Queue Stats'
  %title="#{title}"
  %script{:type => "text/javascript",:charset => "Utf-8",:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"}
  %link(rel="stylesheet" type="text/css" href="app.css")
%body
  %p.nav
    %span.hdr Queue Monitor
    %span.help
      %img(src="/images/help.gif" title="#{get_help_text}")
    %span.refresh
      %a.slower(title="Refresh more slowly" href="/slower") Slower
      %span.label= "Refresh Rate: #{refresh.to_i/1000} s"
      %a.faster(title="Refresh more quickly" href="/faster") Faster
  .jobs= yield
  :javascript
    $(getUpdate);
    function getUpdate() {
      $().load("/");
      setTimeout(getUpdate,#{refresh});
    }
